API
- exchange information
    - request
        - http function 
        - url / alamat
        - body (u/ function POST, PUT, DELETE)
            - payload request -> json
        - headers
            - configuration
            - additional information
    - response
        - body
            - data yang dikembalikan -> json
        - headers
            - configuration
            - additional information

In [19]:
import pandas as pd

df = pd.read_csv("Dataset.csv")

In [20]:
df.loc[3]

name         budi
age            25
location    bogor
Name: 3, dtype: object

In [21]:
df

      name  age location
0     john   25  jakarta
1  matthew   22  bandung
2  michael   27    ambon
3     budi   25    bogor
4   xavier   30    bogor

In [22]:
# menambahkan data ke dataframe
df.loc[len(df.index)] = ["Cena", 27, "Florida"]

In [24]:
df.size

18